body {
  background-color: #181c29;
}
.dashboard-container {
  display: flex;
  padding: 24px;
}

.sidebar {
  width: 25%;
  height: 100%;
  background-color: #0a0b11;
  padding: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.sidename {
  position: absolute; /* Faz o título sair do fluxo normal */
  top: 10px; /* Define a posição em relação ao topo da sidebar */
  left: 10px; /* Define a posição à esquerda */
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 230px;
  margin-top: 40px;
}

.bank-buttons {
  display: flex;
  flex-grow: 1;
  flex-direction: column; /* Organiza os botões em coluna */
  gap: 20px; /* Espaçamento entre os botões */
  margin-top: 90px;
  margin-bottom: 40px;
}

.bank-button {
  display: flex; /* Para alinhar a imagem e o texto lado a lado */
  align-items: center; /* Alinha a imagem e o texto verticalmente */
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  width: 100%; /* Torna os botões largos */
  height: 50px; /* Define a altura dos botões */
  padding: 8px;
  background-color: rgb(13, 19, 25);
  color: white;
  border-color: #bbf048;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bank-button:hover {
  border-color: #B4F22E;
}

.bank-button.selected {
  background-color: #B4F22E;
}

.bank-button img {
  width: 40px; /* Ajuste o tamanho da imagem */
  height: 40px; /* Ajuste o tamanho da imagem */
  margin-right: 10px; /* Espaçamento entre a imagem e o texto */
  border-radius: 20%;
}

.bank-button font {
  font-size: x-large;
}


.chart-container {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.period-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px; /* Espaço entre os botões */
  margin: 20px 0; /* Margem para separar a seção */
}

.period-buttons button {
  background-color: #1c1c1c; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
  border: 2px solid #4F5566; /* Borda suave */
  border-radius: 8px; /* Arredondamento dos cantos */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho do texto */
  cursor: pointer; /* Indica interatividade */
  transition: all 0.3s ease; /* Suaviza as transições */
  width: 100%;
}

.period-buttons button:hover {
  background-color: #4F5566; /* Cor de fundo ao passar o mouse */
  color: #007bff; /* Texto em destaque */
  border-color: #0258b4; /* Borda em destaque */
}

.period-buttons button:active {
  background-color: #007bff; /* Fundo em destaque ao clicar */
  color: #1c1c1c; /* Texto escuro */
}

.period-buttons button.selected {
  background-color: #007bff; /* Fundo para botão selecionado */
  color: #1c1c1c; /* Texto escuro */
  border-color: #0258b4; /* Borda igual ao fundo */
  font-weight: bold; /* Texto em negrito */
}
