body {
  background-color: #181c29;
}

.dashboard-container {
  display: flex;
  padding: 24px;
  position: relative;
  z-index: 0; /* Garante que o gráfico fique atrás da sidebar */
}

.sidebar {
  width: 25%;
  height: 100%;
  height: 735px;
  background: linear-gradient(to bottom, #0F121B 70%, #232A40 100%);
  padding: 36px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px 20px 20px 3px; /* Apenas arredonda as bordas direita */
  position: relative;
  z-index: 2; /* Faz a sidebar ficar acima do gráfico */
}

.sidebar-image {
  width: 390px; /* Tamanho da imagem */
  height: 70px; /* Tamanho da imagem */
  margin-left: 40px;
  border-radius: 30px;
}

.bank-buttons {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.bank-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: #1b1e2d;
  color: white;
  border: 0px solid;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bank-button:hover {
  background-color: #4F5566;
  border-color: #B4F22E;
}

.bank-button.selected {
  background-color: #B4F22E;
  border-color: #B4F22E;
  color: #0F121B;
}

.bank-button.selected .bank-name {
  color: black;  /* Muda a cor do nome do banco para preto quando selecionado */
}

.bank-button img {
  width: 55px;
  height: 50px;
  border-radius: 20%;
  margin-left: -25px;
}

.bank-name {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin-left: 35px; /* Remove se você não quiser margem entre a imagem e o texto */
}

.chart-container {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  margin-left: -1%;
  z-index: 0; /* Garante que o gráfico fique atrás da sidebar */
}

.chart-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.period-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 20px 0;
}

.period-buttons button {
  background-color: #1c1c1c;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  border: 0px solid;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.period-buttons button:hover {
  background-color: #4F5566;
  color: #a5dc2f;
  border-color: #a5dc2f;
}

.period-buttons button:active {
  background-color: #a5dc2f;
  color: #1c1c1c;
}

.period-buttons button.selected {
  background-color: #a5dc2f;
  color: #1c1c1c;
  border-color: #a5dc2f;
  font-weight: bold;
}

